
<% if signed_in? %>

<div class="container">

	<div class="webpage-name">Hello <%= current_user().name %>
	</div>

	<p>You were successfully signed in</p>

</div>

<% end %>

<a href="/practice">Let's practice</a></br>
<a href="/reserve">Go to the reserve pile</a>



