
<% if signed_in? %>

<div class="container">

	<div class="webpage-name">Hello <%= current_user().name %>
	</div>
		

	<p>You were successfully signed in</p>

</div>

<% end %>


<div class="practice"><%= link_to "Let's Practice", practice_path %></div>



