<%= render "layouts/header"%>
<div class="container">
</h2> Welcome to <h1><em>Always In My Memory</em></h1>
</div>
<a href="cards/practice">Let's practice</a><br>
<a href="cards/reserve">Go to the reserve pile</a>
