

	<%= render  partial: "layouts/header"%>
	<br>
	<br>
	<br>


</h2> Welcome to <h1><em>Always In My Memory</em></h1>
Set the timer on to be reminded to view your pack
</div>
<!-- <a href="cards/practice">Let's practice</a><br>
<a href="cards/reserve">Go to the reserve pile</a> -->



