

	<%= render  partial: "layouts/header"%>

	<br>
	<br>
	<br>
	<br>


</h2> Welcome to <h1><em>Always In My Memory</em></h1>
Set the timer on to be reminded to view your pack
</div>
<!-- <a href="cards/practice">Let's practice</a><br>
<a href="cards/reserve">Go to the reserve pile</a> -->
<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="assets/images/erson_writing.png">
            </div>
            <div class="col-xs-9">
                <h1>It's here to stay<span class="text-muted">&raquo; An easy systematic way to learn, a little bit everyday</span></h1>
                <p class="lead">The best way to learn is a little bit at a time. 3 times a day, for 5 days, and it will be in your memory forever</p>
            </div>
        </div>
    </div>    
</div>


