<%= render partial: 'navbar'%><br><br>
<div class="container">

	<h1>You have already learned...</h1>
<h1>Cards you have already learned</h1>



	<a href="/reserve">Go to the reserve pile</a><br>
	<a href="/cards">Let's practice</a>
</div>
