

	<%= render partial: 'navbar'%>
	<br><br><br>
	<div class="container">


<h1>This is the Reserve pile of cards</h1>
Add the cards you want to add
(form has to be added)

(see the admin.page of riply to help figure out what to write)
<a href="/cards">back to the home page</a>
</div>


