<p>put a navbar with the different navigation in a partial</p>

<h1>This is the cards' reserve</h1>
Add the files you want to add
(form has to be added)

(see the admin.page of riply to help figure out what to write)
<a href="/cards">back to the main page</a>