<%= render partial: 'layouts/header'%><br><br>
<div class="container">
  <h1>Let's practice</h1>
  Click on the card to see the other side<br> if the reserve is empty, you need to fill it </br>
  <a href="/reserve">Go to the reserve pile</a><br>
  <a href="/learned">Already memorized</a>
</div>
<!-- Show the list of cars in practice pile -->
<div class="container">
  <% if Stack.find(2).cards.empty? %>
    <div class="container empty">
      <div class="row col-sm-12">
        <h4>The practice pile is empty, please add more cards in the reserve pile</h4>
      </div>
    </div>
   </div>
  <% elsif Stack.find(2).cards.length <= 5 %>
    <div class="title col.sm.12">
      <h3>Cards in the Reserve Pile</h3>
    </div>
   	<% Stack.find(2).each do |card| %>
      <div class="container"
        <div class="row">
          <div class="col-xs-6">
            <div class="well"><%= card.title %></div>
              <div class="clearfix hidden-md hidden-lg"></div>
                <div class="col-xs-6">
                  <div class="well"></div>
               </div>
               <div class="clearfix hidden-md hidden-lg"></div>
            </div>
          <hr>
    <% end %>
  <% end %>
    </div>
 <% if  Stack.find(2).cards.length < 5 %>
   <div class="container">
     <div class="row col-sm-12">
      <div class="well"><p>You need to add <%= (5 - Stack.find(2).cards.length) %> cards or more to the reserve pile, to be able to have 5 cards in this pile</p> 
   </div>
 </div>
</div>
<% end %>

<!-- random quote -->
<blockquote>
    <p>&ldquo;<% result = Net::HTTP.get(URI.parse('http://www.subfusion.net/cgi-bin/quote.pl?quote=education&number=1')) %>
      <%= @quote = result.split('<hr><br>')[1].split('<br><br>')[0] %> &rdquo;</p>
</blockquote>
 


	