<%= render "layouts/header"%>
<h1>Let's practice</h1>

click on the card to see the other side<br>
 I need to add something about adding cards in the reserve when they are empty if the reserve is empty, you need to fill it </br>

	<a href="/reserve">Go to the reserve pile</a>